@import url(antd.css);
html {
  position: relative;
  min-height: 100% !important; }

body {
  font-family: "Titillium Web", sans-serif !important;
  background: #f8f8f8 !important;
  margin-bottom: 75px !important;
  /* Margin bottom by footer height */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.65); }

.content {
  overflow: hidden; }

.footerClass {
  text-align: center;
  background-color: #333333;
  padding: 20px 50px 20px;
  font-size: 14px; }
  @media only screen and (max-width: 700px) {
    .footerClass {
      text-align: center;
      background-color: #333333;
      padding: 20px 5px 20px;
      font-size: 12px; } }

.karabaglarDiv {
  margin-left: 2.08%;
  text-align: center;
  background: ghostwhite;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 20px; }
  @media only screen and (max-width: 700px) {
    .karabaglarDiv {
      margin-left: 4.16%;
      text-align: center;
      background: ghostwhite;
      border-radius: 8px;
      padding-top: 15px;
      padding-bottom: 10px; } }

.mainSpan {
  margin-top: 10px;
  float: right;
  font-size: 14px; }
  @media only screen and (max-width: 700px) {
    .mainSpan {
      float: right;
      font-size: 9px;
      margin-top: -50px; } }

.pClass {
  margin-bottom: 0;
  line-height: 17px; }
  @media only screen and (max-width: 700px) {
    .pClass {
      line-height: 12px; } }

.span1 {
  margin-left: 17px;
  display: block; }
  @media only screen and (max-width: 700px) {
    .span1 {
      margin-left: 11px;
      display: block; } }

.span2 {
  margin-left: 41px;
  display: block; }
  @media only screen and (max-width: 700px) {
    .span2 {
      margin-left: 26px;
      display: block; } }

.contactLittleImg {
  width: auto;
  height: 180px;
  margin-bottom: 15px;
  border: 1px solid darkgray; }
  @media only screen and (max-width: 700px) {
    .contactLittleImg {
      width: auto;
      height: 120px;
      margin-bottom: 10px;
      border: 1px solid darkgray; } }

.pageContent {
  margin: 50px 12px 0 12px; }
  @media only screen and (max-width: 700px) {
    .pageContent {
      margin: 15px 12px 0 12px; } }

.map {
  width: 90%;
  height: 400px;
  margin-left: 5%;
  border: 1px solid steelblue; }
  @media only screen and (max-width: 700px) {
    .map {
      width: 96%;
      height: 300px;
      margin-left: 2%;
      border: 1px solid steelblue; } }

.recharts-responsive-container {
  min-width: 300px;
  min-height: 250px; }

.ant-select, .ant-radio-group, .ant-menu {
  font-family: "Titillium Web", sans-serif !important; }

.ant-btn-group > .ant-btn {
  line-height: 24px; }

.ant-form-item {
  margin-bottom: 0px; }

.meter-box {
  padding: 10px;
  background: white;
  margin: 0; }
  .meter-box .deviceInfoColor {
    color: #108ee9; }
  .meter-box .consumer-info {
    font-size: 14px;
    font-weight: bolder; }

.DayPickerInput {
  position: relative;
  height: 32px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid #d9d9d9;
  padding: 5px;
  background: white;
  border-radius: 4px;
  margin-left: 4px; }
  @media screen and (max-width: 768px) {
    .DayPickerInput {
      margin-left: 0;
      margin-right: 4px; } }

.DayPicker-Footer {
  border-top: 1px solid #eee;
  text-align: center; }

.DayPickerInput::after {
  content: "\E6BB";
  font-family: "anticon" !important;
  position: absolute;
  color: #9E9E9E;
  top: 6px;
  right: 8px; }

.DayPicker-Day .DayPicker-Day--selected {
  background-color: #51a0fa !important; }

.DayPickerInput input {
  border: 0;
  width: 100%; }

.DayPickerInput input:focus {
  outline: none; }

.daypickerwidth .DayPickerInput {
  width: 49%; }
