
@import 'antd.css';
$blue: #108ee9;

html {
    position: relative;
    min-height: 100% !important;
}

body {
    font-family: "Titillium Web", sans-serif !important;
    background: #f8f8f8 !important;
    margin-bottom: 75px !important; /* Margin bottom by footer height */
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    font-size: 12px !important;
    color: rgba(0,0,0,.65);
}
.content { overflow: hidden;}

.footerClass {
    text-align: center;
    background-color: #333333;
    padding: 20px 50px 20px;
    font-size: 14px;
    @media only screen and (max-width: 700px) {
        text-align: center;
        background-color: #333333;
        padding: 20px 5px 20px;
        font-size: 12px;
    }
}

.karabaglarDiv {
    margin-left: 2.08%;
    text-align: center;
    background: ghostwhite;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 20px;
    @media only screen and (max-width: 700px) {
        margin-left: 4.16%;
        text-align: center;
        background: ghostwhite;
        border-radius: 8px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

.logoDiv {
    width: 115px;
    @media only screen and (max-width: 700px) {
        width: 25%;
    }
}

.mainSpan {
    margin-top: 10px;
    float: right;
    font-size: 14px;
    @media only screen and (max-width: 700px) {
        float: right;
        font-size: 9px;
        margin-top: -58px;
    }
}

.pClass {
    margin-bottom: 0;
    line-height: 17px;
    @media only screen and (max-width: 700px) {
        width: 317px;
        line-height: 12px;
    }
}

.span1 {
    margin-left: 17px;
    display: block;
    @media only screen and (max-width: 700px) {
        margin-left: 11px;
        display: inline;
    }
}

.span2 {
    margin-left: 41px;
    display: block;
    @media only screen and (max-width: 700px) {
        margin-left: 16px;
        display: inline;
    }
}

.span3 {
    display: block;
    @media only screen and (max-width: 700px) {
        margin-left: 10px;
        display: inline;
    }
}

.contactLittleImg {
    width: auto;
    height: 180px;
    margin-bottom: 15px;
    border: 1px solid darkgray;
    @media only screen and (max-width: 700px) {
        width: auto;
        height: 120px;
        margin-bottom: 10px;
        border: 1px solid darkgray;
    }
}

.pageContent {
    margin: 50px 12px 0 12px;
    @media only screen and (max-width: 700px) {
        margin: 15px 12px 0 12px;
    }
}

.map { 
    width: 90%;
    height: 400px;
    margin-left: 5%;
    border: 1px solid steelblue;
    @media only screen and (max-width: 700px) {
        width: 96%;
        height: 300px;
        margin-left: 2%;
        border: 1px solid steelblue;
    }
}

// Using for responsive chart
.recharts-responsive-container {
    min-width: 300px;
    min-height: 250px;
}

.ant-select, .ant-radio-group, .ant-menu {
    font-family: "Titillium Web", sans-serif !important;
}
//  Notification buttons
.ant-btn-group > .ant-btn { line-height: 24px;}

// Ant form
.ant-form-item { margin-bottom: 0px;}

// home page info block
.meter-box{
    padding: 10px;
    background: white;
    margin: 0;
    
    .deviceInfoColor{
        color: $blue;
    }
        
    .consumer-info{
        font-size: 14px;
        font-weight: bolder;
    }
}

// Datepicker 
.DayPickerInput {
    position: relative;
    height: 32px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    border: 1px solid #d9d9d9;
    padding: 5px;
    background: white;
    border-radius: 4px;
    margin-left: 4px;

    @media screen and (max-width: "768px") {
        margin-left: 0;
        margin-right: 4px;
    }
}

.DayPicker-Footer {
    border-top: 1px solid #eee;
    text-align: center;
}

.DayPickerInput::after {
    content: "\E6BB";
    font-family: "anticon" !important;
    position: absolute;
    color: #9E9E9E;
    top: 6px;
    right: 8px;
}

.DayPicker-Day .DayPicker-Day--selected{
    background-color: #51a0fa !important;
} 

.DayPickerInput input{
    border: 0;
    width: 100%;
}

.DayPickerInput input:focus{
    outline: none;
}

.daypickerwidth .DayPickerInput{
    width: 49%;
}


$slides: 4;
$slide-width: 180px;
$slide-height: 137px;
$ang: 360 / $slides;
$perspective: 700px;
$bg: #000;
$shadow: #fff;
$spin-time: 20s;

$y: ();
@for $i from 0 through $slides {
    $y: append($y, $i*$ang + deg);
}

@mixin animation($name) {
    @-webkit-keyframes #{$name} {@content;}
    @-moz-keyframes #{$name} {@content;}
    @-o-keyframes #{$name} {@content;}
    @keyframes #{$name} {@content;}
}

@mixin animation-use($name, $time) {
    -webkit-animation: $name $time infinite linear;
    -moz-animation: $name $time infinite linear;
    -o-animation: $name $time infinite linear;
    animation: $name $time infinite linear;
}

@mixin slidePos($y, $z) {
    -webkit-transform: rotateY($y) translateZ($z);
    -ms-transform: rotateY($y) translateZ($z);
    transform: rotateY($y) translateZ($z);
}

@mixin rotate($x, $y) {
    -webkit-transform: rotateX($x) rotateY($y);
    -ms-transform: rotateX($x) rotateY($y);
    transform: rotateX($x) rotateY($y);
}

@include animation(turn) {
    50% {
        @include rotate(5deg, .5turn);
    }
    100% {
        @include rotate(-5deg, 1turn);
    }
}
.carousel_container {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-perspective: $perspective;
    -ms-perspective: $perspective;
    perspective: $perspective;
            
    .carousel {
        position: absolute;
        left: 50%;
        top: 50%;
        width: $slide-width;
        height: $slide-height;
        margin-left: -$slide-width/2;
        margin-top: -$slide-height/2;
        transform-style: preserve-3d;
        @include rotate(-5deg, 0);
        @include animation-use(turn, $spin-time);
                    
        .slide {
            position: absolute;
            width: $slide-width;
            height: $slide-height;
            border-radius: 8px;
            box-shadow: 0 0 4px 1px $shadow;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            
            @for $i from 1 through $slides {
                &:nth-child(#{$i}) {
                    @include slidePos(nth($y, $i), .2*$slides*$slide-width);
                }
            }
        }
    }
}