.carouselImg {
  box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.8); }

.productCards {
  box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.8);
  border-radius: 10px; }

.contentBlock {
  background: ghostwhite;
  padding-top: 10px;
  padding-bottom: 35px;
  border-radius: 10px; }

.ant-card {
  font-family: "Titillium Web", sans-serif !important;
  background: white;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 15px; }
  .ant-card .ant-card-head {
    padding: 0 10px;
    min-height: 30px !important; }
    .ant-card .ant-card-head .ant-card-head-title {
      display: block !important;
      padding: 0px; }
      .ant-card .ant-card-head .ant-card-head-title .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0 !important; }
      .ant-card .ant-card-head .ant-card-head-title .date {
        font-size: 16px;
        float: right;
        color: #108ee9;
        font-weight: bold; }
  .ant-card .ant-card-body {
    padding: 10px; }

.bannerImg {
  margin-bottom: 15px; }
  @media only screen and (max-width: 480px) {
    .bannerImg {
      margin-top: 70px; } }

.titleMiddleDiv {
  padding-top: 10px;
  background: ghostwhite;
  font-size: 28px;
  width: 16.6%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  @media only screen and (max-width: 1500px) {
    .titleMiddleDiv {
      padding-top: 10px;
      background: ghostwhite;
      width: 33.3%;
      font-size: 22px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; } }
  @media only screen and (max-width: 760px) {
    .titleMiddleDiv {
      padding-top: 8px;
      background: ghostwhite;
      width: 100%;
      font-size: 20px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; } }

.bayilerImg {
  margin-top: 10px; }
  @media only screen and (max-width: 760px) {
    .bayilerImg {
      margin-top: 7px;
      width: 300px; } }

.carouselDiv {
  margin-top: 72px;
  margin-bottom: 60px;
  z-index: 2; }
  @media only screen and (max-width: 760px) {
    .carouselDiv {
      margin-bottom: 5px;
      z-index: 2; } }

.bayiSpan {
  padding-right: 60px;
  padding-top: 15px; }

.bayiDiv {
  width: 100px;
  height: 75px;
  border: none; }

.aboutText {
  padding: 15px;
  background: ghostwhite;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 7px; }
  @media only screen and (max-width: 760px) {
    .aboutText {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.9);
      padding: 8px;
      border-radius: 7px;
      background: ghostwhite; } }

.titleRow {
  font-size: 30px;
  font-weight: 900;
  text-align: center; }
  @media only screen and (max-width: 760px) {
    .titleRow {
      font-size: 18px;
      font-weight: 900;
      text-align: center; } }

.titleRowDivider {
  margin-top: 60px;
  height: 1px;
  opacity: 0.6;
  width: 41.666%; }
  @media only screen and (max-width: 1500px) {
    .titleRowDivider {
      margin-top: 20px;
      height: 1px;
      opacity: 0.6;
      width: 33.3%; } }
  @media only screen and (max-width: 480px) {
    .titleRowDivider {
      margin-top: 20px;
      height: 1px;
      width: 33.3%; } }

.rowImages {
  height: 10vw;
  border: 1px solid white;
  border-radius: 3px;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .rowImages {
      height: 27vw;
      border: 1px solid white;
      border-radius: 3px;
      overflow: hidden; } }
  @media only screen and (max-width: 570px) {
    .rowImages {
      height: 51vw;
      border: 1px solid white;
      border-radius: 3px;
      overflow: hidden; } }

.rowImages:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  filter: brightness(140%); }

.homeProductsTitle {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 900;
  text-align: center; }
