$blue: #108ee9;
$bgImg: url('../../assets/headerBg.jpg');

.carouselImg {
    box-shadow: 0px 3px 20px 3px rgba(0,0,0,0.8);
}

.productCards {
    box-shadow: 0px 3px 20px 3px rgba(0,0,0,0.8);
    border-radius: 10px;
}

.contentBlock {
    background: ghostwhite;
    padding-top: 10px;
    padding-bottom: 35px;
    border-radius: 10px;
}

.ant-card { 
    font-family: "Titillium Web", sans-serif !important;
    background: white; padding-left: 8px; padding-right: 8px;
    margin-bottom: 15px;
    
    .ant-card-head {
        padding: 0 10px;
        min-height: 30px !important;

        .ant-card-head-title { 
            display: block !important;
            padding: 0px;

            .title {
                font-size: 16px; 
                font-weight: bold;
                margin-bottom: 0 !important;
            }

            .date {
                font-size: 16px;
                float: right;
                color: $blue;
                font-weight: bold;
            }
        }
    }
    .ant-card-body {
        padding: 10px;
    }
}
.bannerImg {
    margin-bottom: 15px;
    @media only screen and (max-width: 480px) {
    margin-top: 70px;
    }
}

.bayilerImg {
    margin-top: 10px;
    @media only screen and (max-width: 760px) {
        margin-top: 7px;
        width: 300px;
    }
}

.carouselDiv {
    margin-top: 52px;
    margin-bottom: 60px;
    z-index: 2;
    @media only screen and (max-width: 760px) {
        margin-bottom: 5px;
        z-index: 2;
    }
}

.bayiSpan {
    padding-right: 60px;
    padding-top: 15px;
}

.bayiDiv {
    width: 100px;
    height: 75px;
    border: none;
}

.aboutText {
    padding: 15px;
    background: ghostwhite;
    font-size: 16px;
    color: rgba(0,0,0,0.9);
    border-radius: 7px;
    @media only screen and (max-width: 760px) {
        font-size: 14px;
        color: rgba(0,0,0,0.9);
        padding: 8px;
        border-radius: 7px;
        background: ghostwhite;
    }
}

.titleRow {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    @media only screen and (max-width: 760px) {
        font-size: 18px;
        font-weight: 900;
        text-align: center;
    }
}

.rowImages {
    height: 10vw;
    border: 1px solid white;
    border-radius: 3px;
    overflow: hidden;
    @media only screen and (max-width: 768px) {
        height: 27vw;
        border: 1px solid white;
        border-radius: 3px;
        overflow: hidden;
    }
    @media only screen and (max-width: 570px) {
        height: 51vw;
        border: 1px solid white;
        border-radius: 3px;
        overflow: hidden;
    }
}

.rowImages:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    filter: brightness(140%);
}

.homeProductsTitle {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.js-transitions-disabled * {
    -webkit-transition: none !important;
    transition: none !important;
  }
  .carousel {
    cursor: pointer;
    position: relative;
    height: 65vh;
    -webkit-perspective: 50vw;
            perspective: 50vw;
    -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
  }
  .carousel__control {
    position: absolute;
    height: 160px;
    width: 40px;
    background: #fff;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
  }
  .carousel__control a {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 75%;
    box-sizing: border-box;
  }
  .carousel__control a:hover:before {
    background-color: rgba(0,0,0,0.4);
  }
  .carousel__control a.active:before,
  .carousel__control a.active:hover:before {
    background-color: rgba(0,0,0,0.6);
  }
  .carousel__control a:first-child {
    margin-top: 15px;
  }
  .carousel__control a:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    padding-top: 25%;
    width: 25%;
    background: rgba(0,0,0,0.2);
    content: '';
    display: block;
    margin-top: -12.5%;
  }
  .carousel__stage {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(calc(-50vh + 20px));
            transform: translateZ(calc(-50vh + 20px));
  }
  .spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  .js-spin-fwd .spinner {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  .js-spin-bwd .spinner {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  .js-spin-fwd .spinner--right {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  .js-spin-bwd .spinner--right {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  .spinner__face {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .spinner__face.js-next {
    display: block;
    -webkit-transform: rotateX(90deg) translateZ(calc(50vh - 20px));
            transform: rotateX(90deg) translateZ(calc(50vh - 20px));
  }
  .js-spin-bwd .spinner__face.js-next {
    -webkit-transform: rotateX(-90deg) translateZ(calc(50vh - 20px));
            transform: rotateX(-90deg) translateZ(calc(50vh - 20px));
  }
  .js-active {
    display: block;
    -webkit-transform: translateZ(calc(50vh - 20px));
            transform: translateZ(calc(50vh - 20px));
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }
  .content__left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .content__left {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content__left:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
  }
  .content__left h1 {
    position: absolute;
    top: 50%;
    margin-top: -3vw;
    text-align: center;
    font-family: oswald;
    font-size: 5vw;
    height: 10vw;
    opacity: 1;
    color: #fff;
    width: 100%;
    letter-spacing: 0.15em;
    line-height: 0.6;
  }
  .content__left span {
    font-size: 1vw;
    font-weight: 300;
    letter-spacing: 0.2em;
    opacity: 0.9;
    font-family: Merriweather;
  }
  .content__right .content__main p:last-child {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.85em;
  }
  .content__right .content__index {
    font-size: 30vh;
    position: absolute;
    right: -1vh;
    top: 35vh;
    opacity: 0.04;
    font-family: oswald;
    color: #fff;
  }



  @mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 20s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}