.carouselImg {
  box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.8); }

.productCards {
  box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.8);
  border-radius: 10px; }

.contentBlock {
  background: ghostwhite;
  padding-top: 10px;
  padding-bottom: 35px;
  border-radius: 10px; }

.ant-card {
  font-family: "Titillium Web", sans-serif !important;
  background: white;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 15px; }
  .ant-card .ant-card-head {
    padding: 0 10px;
    min-height: 30px !important; }
    .ant-card .ant-card-head .ant-card-head-title {
      display: block !important;
      padding: 0px; }
      .ant-card .ant-card-head .ant-card-head-title .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0 !important; }
      .ant-card .ant-card-head .ant-card-head-title .date {
        font-size: 16px;
        float: right;
        color: #108ee9;
        font-weight: bold; }
  .ant-card .ant-card-body {
    padding: 10px; }

.bannerImg {
  margin-bottom: 15px; }
  @media only screen and (max-width: 480px) {
    .bannerImg {
      margin-top: 70px; } }

.bayilerImg {
  margin-top: 10px; }
  @media only screen and (max-width: 760px) {
    .bayilerImg {
      margin-top: 7px;
      width: 300px; } }

.carouselDiv {
  margin-top: 52px;
  margin-bottom: 60px;
  z-index: 2; }
  @media only screen and (max-width: 760px) {
    .carouselDiv {
      margin-bottom: 5px;
      z-index: 2; } }

.bayiSpan {
  padding-right: 60px;
  padding-top: 15px; }

.bayiDiv {
  width: 100px;
  height: 75px;
  border: none; }

.aboutText {
  padding: 15px;
  background: ghostwhite;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 7px; }
  @media only screen and (max-width: 760px) {
    .aboutText {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.9);
      padding: 8px;
      border-radius: 7px;
      background: ghostwhite; } }

.titleRow {
  font-size: 30px;
  font-weight: 900;
  text-align: center; }
  @media only screen and (max-width: 760px) {
    .titleRow {
      font-size: 18px;
      font-weight: 900;
      text-align: center; } }

.rowImages {
  height: 10vw;
  border-radius: 3px;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .rowImages {
      height: 31vw;
      border-radius: 3px;
      overflow: hidden; } }
  @media only screen and (max-width: 576px) {
    .rowImages {
      height: 67vw;
      border-radius: 3px;
      overflow: hidden; } }

.rowImages:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  filter: brightness(140%); }

.homeProductsTitle {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 900;
  text-align: center; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 7)); } }

.slider {
  background: white;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2; }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .slider::before {
    left: 0;
    top: 0; }
  .slider .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14); }
  .slider .slide {
    height: 100px;
    width: 250px; }
